html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.bgcolor{
    width: 100%;
    background-image:linear-gradient(to right ,rgba(230,101,135,0.5),
    rgba(240,148,88,0.7)),
    url(../image/asset%201.jpeg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.padding{
    padding: 50px;
}
.banner_area{
    width: 75%;
    height: 600px;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(rgba(230,101,135,0.5),
    rgba(240,148,88,0.7));
    padding-left: 15px;
    padding-right: 15px;
}
.logo_menu{
    overflow: auto;
    width: 100%;
    padding: 30px 0px 30px 0px;
}
.logo{ 
    float: left;
}
.menu_bar{
    float: right;
}
.padding1{
    padding: 100px;
}
.center{
    width: 650px;
    margin: auto;
    text-align: center;
}
.small-text{
    margin :auto;
    color: white;
}
.big-text{
    color: white;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.button{
    color: white;
    margin: auto;
}
.button-text{
    align-items: center;
}
.radius{
    border-radius: 20px;
    border:1px solid;
    text-align: center;
    display: inline-block;
    padding: 10px 30px;
    color: white;
}
.arrow_img{
    margin-left: 10px;
}