html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.bgcolor{
    width: 100%;
    background-image:linear-gradient(to right ,rgba(230,101,135,0.5),
    rgba(240,148,88,0.7)),
    url(../image/body-bg.jpg);
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
.padding{
    padding: 50px;
}
.banner_area{
    width: 75%;
    height: 600px;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(rgba(230,101,135,0.5),
    rgba(240,148,88,0.7));
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    width: 100%;
    padding: 30px 0px 30px 0px;
    float: left;
}
.menu_bar{
    float: right;
}
.center{
    width: 650px;
    height: 150px;
    margin: auto;
    position: relative;
    padding-top: 200px;
    
}